.container {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0 0 1rem;
    line-height: 1.15;
    font-size: 3.6rem;
  }
  
  .title {
    text-align: center;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  
  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
    max-width: 800px;
    margin-top: 3rem;
  }
  
  .card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: #FA9C1B;
    border-color: #FA9C1B;
    border: 1px solid #eaeaea;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    font-family: "rucksack", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .subtitle {
    margin: 0rem;
    margin-top: -80px;
    padding: 1.5rem;
    text-align: left;
    color: #FA9C1B;
    text-decoration: none;
    font-family: "rucksack", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;

  }

  .subcard1 {
    margin: 1rem;
    margin-top: -40px;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: black;
    border-color: black;
    border: 1px solid #eaeaea;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    font-family: "rucksack", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 0.75rem;
  }

  .subcard1 p {
    font-size: 1rem;
    line-height: 2.2;

  }
  .subcard1 ul {
    font-size: 1rem;
    line-height: 2.2;
  }

  .subcard2 {
    margin: 1rem;
    margin-top: 0px;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: black;
    border-color: black;
    border: 1px solid #eaeaea;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    font-family: "rucksack", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 0.75rem;
  }

  .subcard2 p {
    font-size: 1rem;
    line-height: 2.2;
  }

  .subcard2 ul {
    font-size: 1rem;
    line-height: 2.2;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #FA9C1B;
    border-color: #FA9C1B;
  }
  
  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .card ul {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
  }

  .button1 {
    text-align: left;
    color: #b502f4;
    text-decoration: none;
    border-radius: 10px;
    font-family: "rucksack", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
    
  }

  .subtitle1 {
    margin: 0rem;
    margin-top: -80px;
    padding: 1.5rem;
    text-align: left;
    color: #b502f4;
    text-decoration: none;
    font-family: "rucksack", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;

  }



  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  